<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Acerca de CarpooolApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header >
        <ion-card-title class="titulo">Descripcion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p id="descripcion" >       
        CarpoolApp es una aplicación para la comunidad de la ESPOL que permite registrar y reservar autos que realizan recorridos desde y hacia la universidad. Los usuarios pueden encontrar vehículos disponibles para compartir viajes desde sus casas a la universidad y viceversa, con la seguridad de viajar con otros miembros de la comunidad. La aplicación facilita la búsqueda de rutas, reserva de cupos, y contribuye a reducir los costos y el impacto ambiental al fomentar el uso compartido de autos entre los politécnicos.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end"  >
    <ion-fab-button  (click)="openChatWhatsAppSupportCarpooolApp()"> 
      <ion-icon size="large" color="success" name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
