
<ion-content  [fullscreen]="true" [scrollY]="false"  [scrollX]="false">
  <div class="container-intro">
    <ion-title>Bienvenido a CarpolApp</ion-title>
    <h1>De una App a tu casa</h1>
  <img
    alt="logo"
    src="assets/tortuga-logo.jpeg"
  />
  </div>
  <form action="">
    <ion-item>
      <ion-icon name="person-outline" ></ion-icon>
      <ion-input
        label="Usuario"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Ingrese su usuario"
         >
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed-outline" aria-label="Favorite"></ion-icon>
      <ion-input type="password" label="Password" labelPlacement="stacked" placeholder="Ingrese su contraseña">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
   
    </ion-item>
    <div class="container-links">
      <a style="color: var(--ion-color-tertiary);">Olvidó su contraseña?</a>
      <a class="register-link" style="color: var(--ion-color-tertiary);"  (click) = "navigateToRegister()">Registrarse</a>
    </div>
  </form>

  <div id="container-button">
    <ion-button shape="round" (click) = "navigateToHome()">Iniciar Sesión</ion-button>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button>
       <ion-icon name="help-outline" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start" (click) = "navigateToStart()" >
    <ion-fab-button>
      <ion-icon name="arrow-undo-outline" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>