<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      Reservas
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="top">
    <ion-segment value="hoy">
      <ion-segment-button  value="hoy">
       <ion-label style="color:black;">Hoy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pasadas">
        <ion-label style="color:black;">Pasadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
    @for (carpool of this.carpoolsReservations; track $index) {
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img [src]="carpool.image_car" alt="Carpool Image">
        </ion-avatar>
        <ion-label>
          <h2>{{ carpool.name_owner }}</h2>
          <p>{{ carpool.dateCreation | date: 'dd/MM/yyyy' }}</p>
        </ion-label>
        <ion-button (click)="canDismiss(carpool.id)" color="danger" size="small">
          <ion-icon slot="icon-only" name="trash-outline"  ></ion-icon>
        </ion-button>
      </ion-item>
    }

 
</ion-content>


