<ion-content [fullscreen]="true" [scrollX]="false" [scrollY]="false">
  <div class="container-intro">
    <ion-title class="text1">Bienvenido</ion-title>
    <ion-title >A</ion-title>
    <ion-title class="text1">CarpoolApp</ion-title>
    <img src="https://i.pinimg.com/564x/5c/6c/fa/5c6cfa65b1eb78a09d09c7a03f77aeaf.jpg"/>
    <p>"Llega a tu casa de manera rapida y segura"</p>
  </div>


  <div class="login-options">
    <ion-card color="dark" class="login-card" (click)="navigateToLogin()"> 
      <ion-card-content >
        <ion-icon class="card-icon" name="person-outline"></ion-icon>
        <p class="texto-login"> Usuario y Contraseña</p>
      </ion-card-content>
    </ion-card>

    <ion-card color="dark"class="login-card">
      <ion-card-content>
        <ion-icon class="card-icon" name="finger-print"></ion-icon>
        <p class="texto-login">Huella Dactilar</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>