<ion-content [fullscreen]="true" [scrollX]="false" [scrollY]="false">
  <div class="container-intro">
    <ion-title class="text1">CarpoolApp</ion-title>
    <img src="assets/tortuga-logo.jpeg">
    <p style="font-family: var(--ion-font-family-primary)">"Llega a tu casa de manera rápida y segura"</p>
  </div>


  <div class="login-options">
    <ion-card  class="login-card" (click)="navigateToLogin()"> 
      <ion-card-content >
        <ion-icon class="card-icon" name="person-outline"></ion-icon>
        <p class="texto-login"> Usuario y Contraseña</p>
      </ion-card-content>
    </ion-card>

    <ion-card  class="login-card">
      <ion-card-content>
        <ion-icon class="card-icon" name="finger-print"></ion-icon>
        <p class="texto-login">Huella Dactilar</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>