
.container-header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px; 
}

.container-header ion-title:first-child {
    margin-right: 80px; /* Empuja el primer título hacia la izquierda */
  }
  
  .container-header ion-title:last-child {
    margin-left: 70px; /* Empuja el segundo título hacia la derecha */
  }
