<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="primary" *ngIf="!openSearchBar">
      <ion-button (click)="setOpenSearchBar(true)">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary" *ngIf="!openSearchBar">
      <ion-button (click)="navigateToLandingLogin()">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-item>
          <ion-badge color="danger" slot="start">{{this.countReservations}}</ion-badge>
          <ion-icon name="ticket-outline"></ion-icon>
        </ion-item>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!openSearchBar">
      CarpoolApp
    </ion-title>

    
    <ion-searchbar 
      [(ngModel)]="searchTerm"
      (ionCancel)="removerBuscador()"
      show-cancel-button="always"
      placeholder="Buscar por destinos"
      (keyup.enter)="onSearch()"
      *ngIf="openSearchBar"
    ></ion-searchbar>    
  </ion-toolbar>
</ion-header>


<ion-content  [fullscreen]="true">
   
  
      @for (carpool of carpools; track carpool.id) {
       
        <div class="upperBox">
 
          <div class="image">
            <img src="{{carpool.image_car}}" alt="">
          </div>

          <div class="model">
            <h3>{{carpool.model}}</h3>
           </div>

          <div class="title">
           <h3>{{carpool.name_owner}}</h3>
          </div>

          <div class="amount">
            
            <h3>  <ion-icon name="cash-outline"></ion-icon>  {{carpool.price.toFixed(2)}}</h3>
          </div>

          <div class="status">
            <ion-button  shape="round" size="small" (click)="openCarpoolDetails(carpool)" >Ver
              <ion-icon slot="start" name="eye-outline"></ion-icon>
            </ion-button>
          </div>
          
          
          <div class="quotas">
            <h3> <ion-icon name="people-outline"></ion-icon> {{carpool.quotas}}</h3>
          </div>


          @if(carpool.quotas>0){
            <div class="reservation">
              <ion-button (click)="openMessageModal(carpool)"  shape="round" size="small" color="success" >Reservar</ion-button>
            </div>
          }@else{
            <div class="reservation">
              <ion-button shape="round" size="small" color="danger" >No cupos</ion-button>
            </div>
          }

          <div class="destiny">
            @for (destiny of carpool.destiny; track $index) 
            {
              <span class="route-tag">{{destiny}}</span>
            }
          </div>

        </div>
  
      }
  

  

</ion-content>
