<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-title>
        CarpoolApp
      </ion-title>
      <ion-icon name="ticket-outline" slot="end"></ion-icon>
      <ion-badge id="reservas-badge-msg" color="danger">2</ion-badge>
      <ion-icon name="log-in-outline" slot="end" (click)="navigateToLandingLogin()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  
      @for (carpool of carpools; track carpool.id) {

        <div class="upperBox">
 
          <div class="image">
            <img src="{{carpool.image_car}}" alt="">
          </div>

          <div class="model">
            <h3>{{carpool.model}}</h3>
           </div>

          <div class="title">
           <h3>{{carpool.name_owner}}</h3>
          </div>

          <div class="amount">
            
            <h3>  <ion-icon name="cash-outline"></ion-icon>  {{carpool.price.toFixed(2)}}</h3>
          </div>

          <div class="status">
            <ion-button  shape="round" size="small" (click)="openCarpoolDetails(carpool)" >Ver
              <ion-icon slot="start" name="eye-outline"></ion-icon>
            </ion-button>
          </div>
          
          
          <div class="quotas">
            <h3> <ion-icon name="people-outline"></ion-icon> {{carpool.quotas}}</h3>
          </div>


          <div class="reservation">
            <ion-button  shape="round" size="small" color="success">Reservar</ion-button>
          </div>

          <div class="destiny">
            @for (destiny of carpool.destiny; track $index) 
            {
              <span class="route-tag">{{destiny}}</span>
            }
          </div>

        </div>
  
      }
  

  

</ion-content>
