@import '@ionic/angular/css/palettes/dark.always.css';
ion-header {
  ion-icon {
    font-size: 30px;
    position: relative;
    margin-right: 10px;
  } 
}


ion-content {
  --background: #112d40;
}

#reservas-badge-msg {
  background-color : black !important;
  position : absolute;
  top: 5px;
  right : 70px;
  color: #fff;
  z-index: 111;
}

.upperBox {
  background-color: #fafcfc;
  margin:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: black 1.95px 1.95px 2.6px;
  height: auto;
  display: grid;
  grid-template-areas : 
  "image model model model" 
  "image title title title" 
  "image amount amount status" 
  "image quotas quotas reservation"
  "destiny destiny destiny destiny"; /* Nueva área para las rutas */
  border-radius: 5px;
}


.image {
  grid-area: image;
  img {
    padding : 5px;
    border-radius : 50px;
    height: 150px;
    width: 100%;
    
  }
  
}
.model {
  grid-area: model;
  color: black;
  margin-top: -20px;
  h3 {
   // margin-top: 2px;
    font-size: 20px;
  }
}
.title {
  margin-top: -35px;
  margin-bottom: 10px;
  grid-area: title;
  color : rgb(48, 159, 202)
}

.title > h3 {
//  margin-top: 5px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}

.amount {
  grid-area: amount;
  margin-top: -20px;

  h3 {
    color: green;
  }
}

.quotas {
  margin-top: -10px;
  grid-area: quotas;
  h3 {
    margin-top: -5px;
    color: blue;
  }
}

.status {
  grid-area: status;
  margin-left: 30px;
  ion-button {
    --background : #1c9099
  }
  p {
    color: green;
  }
}

.reservation {
  grid-area: reservation;
}

.destiny {
  grid-area: destiny;
  margin-top: 10px;
}

.route-tag {
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}